html,
body {
    @apply
        text-white
        font-sans
        m-0
        w-full
        min-h-screen
        overflow-hidden;
}

* {
    @apply tracking-normal text-base;
}

.wallpaper {
    @apply object-cover bg-cover bg-center bg-no-repeat;
    background-image: url('../images/wallpaper.jpg');
}


.nav-menu {
    scrollbar-width: none;
    
    .active-tab {
        transform: translateY(-50%);
        left: -7.5px;
        width: 6px;
        height: 6px;
    }
}

.app-window {
    @apply
        rounded-t-xl
        drop-shadow-lg
        bg-app-window-bg
        border
        border-app-window-b;
}

.app-header {
    @apply
        bg-app-header-bg
        border-y
        border-t-app-header-bt
        border-b-app-header-bb;
}
