.wallpaper {
    @apply object-cover bg-cover bg-center bg-no-repeat;
    background-image: url('../images/wallpaper.jpg');
}

.app-window {
    @apply
        drop-shadow-lg
        bg-app-window-bg
        border
        border-app-window-b;
    transform-origin: center center;
    will-change: transform, opacity;
}

.app-header {
    @apply
        bg-app-header-bg
        border-y
        border-t-app-header-bt
        border-b-app-header-bb;
}
