@forward 'base';
@forward 'simple-modal';
@forward 'simple-data';
@forward 'simple-loading-spinner';
@forward 'simple-drag-n-drop';
@forward 'animations';
// Vue Toastification CSS
@forward 'vue-toastification/dist/index.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #app {
    height: 100%;
    margin: 0;
    overflow: hidden;
}